[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".config/nvim/vim-plug"]
	path = .config/nvim/vim-plug
	url = git@github.com:junegunn/vim-plug.git
